<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue Practice</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="app">
    {{message}}
</div>
<div id="app-2">
  <span v-bind:title="message">
    鼠标悬停几秒钟查看此处动态绑定的提示信息！
  </span>
</div>
<div id="app-3">
    <p v-if="seen">现在你看到我了</p>
</div>
<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>
<div id="app-5">
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">反转消息</button>
</div>
<div id="app-6">
    <p>{{message}}</p>
    <input v-model="message">
</div>
</body>
</html>
<script>
    //用来展示对象数据
    var app = new Vue(
        {
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        }
    );
    //获取对象加载时间
    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: '页面加载于 ' + new Date().toLocaleString()
        }
    });
    //v-if 用来进行判断，控制内容是否显示
    var app3 = new Vue(
        {
            el: '#app-3',
            data: {
                // seen: true
                seen: false
            }
        }
    );
    // v-for 实现循环控制
    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                {text: '学习 JavaScript'},
                {text: '学习 Vue'},
                {text: '整个牛项目'}
            ]
        }
    });
    // v-on 实现事件监听，只需实现逻辑即可由vue操作DOM来处理事务
    var app5 = new Vue(
        {
            el: '#app-5',
            data: {
                message: 'Hello Vue.js!'
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        }
    );
    // v-model 实现表单输入和应用状态之间的双向绑定
    var app6 = new Vue(
        {
            el: '#app-6',
            data: {
                message: 'Hello vue!'
            }
        }
    )
</script>